body{
  background-color: #34495E      ;
}
h1{
  margin-left: 50% ;
  color: white;
}
h2{
  text-align:center;
  font-size:24px;
  color: #C0392B  ;  
}

nav{
  color: white;
  font-size: 20px;
  background-color: #58BF1A  ;
  height: 40px;
}

.form{
  background-color: aqua;
}

label{
  color: black;
 
  font-size: 15px;
}
p{
  color: black;
  font-size: 15px;
  text-align: center;
}

.persona{
  color: #137AE1  ;
}

img{
  margin-left: 45%;
}

.cargando{
  margin-left: 50%;
  margin-top:200px;
}

.contenedor{
  background-color: #34495E;
}

.col-md-8{
margin-left: 15%;
}

.col-md-8{
  background-color: #34495E;
}

.cardmt{
  background-color: red;
}