.ReactModal__Overlay {
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }
  
  .ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
    transform: scale(0.5) rotateX(-30deg);
  }
  
  .ReactModal__Content--after-open {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .ReactModal__Content--before-close {
    -webkit-transform: scale(0.5) rotateX(30deg);
    transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
  }
  
  .ReactModal__Content.modal-dialog {
    border: none;
    background-color: transparent;
  }

  .modal-title{
    font-size: 25px;
  }
  input{
    height: 30px;
    width: 75%;
  }

  .persona{
    color: #137AE1  ;
  }

  .btn{
    color: white  ;
    background-color: #2BC095  ;
    margin-left: 45%;
  }

  .modal-title{
    color: #34495E;
  }

  .title{
    color: #1D8348;
    font-size: 22px;
    
  }

.modalbody_body{
  color: #154360;
  font-size: 18px;
  text-align: justify;
}

.imagen_body{
margin-left: 35%;
}